.article-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .article-table th, .article-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .article-table th {
    background-color: #f2f2f2;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0dcaf0;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  p {
    margin: 20px;
    background-color: #198754;
    text-align: center;
    color: white;
  }
  