# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
angular-app/dist
angular-app/tmp
angular-app/out-tsc
angular-app/bazel-out

# Node
angular-app/node_modules
angular-app/npm-debug.log
angular-app/yarn-error.log

# IDEs and editors
angular-app/.idea/
angular-app/.project
angular-app/.classpath
angular-app/.c9/
angular-app/*.launch
angular-app/.settings/
angular-app/*.sublime-workspace

# Visual Studio Code
angular-app/.vscode/*
!angular-app/.vscode/settings.json
!angular-app/.vscode/tasks.json
!angular-app/.vscode/launch.json
!angular-app/.vscode/extensions.json
angular-app/.history/*

# Miscellaneous
angular-app/.angular/cache
angular-app.sass-cache/
angular-app/connect.lock
angular-app/coverage
angular-app/libpeerconnection.log
angular-apptestem.log
angular-app/typings

# System files
angular-app/.DS_Store
angular-app/Thumbs.db



# symfony
fixbug/.web-server-pid
fixbug/app/config/parameters.yml
fixbug/build/
fixbug/phpunit.xml
fixbug/var/*
fixbug!/var/cache
fixbug/var/cache/*
fixbug!var/cache/.gitkeep
fixbug!/var/logs
fixbug/var/logs/*
fixbug!var/logs/.gitkeep
fixbug!/var/sessions
fixbug/var/sessions/*
fixbug!var/sessions/.gitkeep
fixbug!var/SymfonyRequirements.php
fixbug/vendor/
fixbug/web/bundles/
