<div class="row">
  <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
    <div class="card mt-5 d-flex flex-column align-items-center justify-content-center" style="width: 50%;background: #fefefe">
      <img src="/assets/genious.jpg" class="card-img-top " style="width: 80%">
      <div class="card-body  text-center">
        <h3 class="card-title">Test de compétences</h3>
        <p class="card-text">Le test de compétences genious comprend 3 questions à résoudre <br/> dans un délais de 90 min. </p>
        <a routerLink="/questions" class="btn btn-info text-white">Commencer</a>
      </div>
    </div>
  </div>
</div>
